ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition-delay: 1s;
}

.sidebar__menu a {
    display: flex;
    color: #000;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    float: left;
}

.sidebar__menu a:hover {
    background-color: rgb(51, 168, 51);
}

.social__icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 730px) {
    .sidebar__menu {
        width: 100%;
        height: auto;
        position: sticky;
    }

    .sidebar__menu a {
        float: left;
        height: ;
        font-size: 1em;
    }

    .main__content {
        margin-left: 0;
    }

}

@media screen and (max-width: 480px) {
    .sidebar__menu a {
        display: block;
        text-align: center;
        float: none;
        font-size: 1em;
    }

    .social__icon {
        display: flex;
        justify-content: center;


    }
}