ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #191D29;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #14FF26;
}

.main__menu a {
    color: #fff;
    background-color: #191D29;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    float: left;
    margin-left: 4em;
}

.main__menu a:hover {
    color: #14FF26;
    transition: 0.5s;
}

/************************ media queries ***************************/
@media screen and (max-width: 750px) {
    .sidebar__menu {
        width: 100%;
        height: auto;
        position: sticky;
    }

    .sidebar__menu a {
        font-size: 1em;
    }

}

@media screen and (max-width: 480px) {
    .main__menu a {
        display: block;
        text-align: center;
        float: none;
        font-size: 1em;
    }

}